.h2 {
  margin-bottom: 12.75px;
  color: #e8ebae;
  font-family: "Raleway", sans-serif !important;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
}
.hr {
  margin: 0;
  width: 11%;
  color: #e8ebae;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space {
  width: 100%;
  height: 10rem;
}
.form_title {
  margin-bottom: 2rem;
}
