.contact_main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #081832;
  height: auto;
  border: 1px solid #e8ebae;
  margin: 5rem 9rem 4rem 9rem;
}
.map {
  flex: 1;
  height: 100%;
  border-right: 1px solid aliceblue;
}
.content {
  flex: 1;
  height: 100%;
  padding-left: 2rem;
}
.address {
  margin-bottom: 113px;
}
.hr {
  width: 40%;
}
.title {
  margin-bottom: 1.33rem;
}
.info {
  display: flex;
  text-align: left;
}
.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h1 {
  font-size: 50px;
  font-weight: 500;
}
