.contact_main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #081832;
  height: 100vh;
  padding: 9rem;
}
.image {
  flex: 1;
}
.content {
  flex: 1;
  height: 100%;
}
.hr {
  width: 40%;
}
.title {
  margin-bottom: 4.33rem;
}
.info {
  display: flex;
  text-align: left;
}
.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h1 {
  font-size: 50px;
  font-weight: 500;
}
