.side_menu_active {
  height: 100vh;
  background: #e8ebae;
  position: fixed;
  width: 28rem;
  transition: all 0.2s;
}
.side_menu {
  width: 0rem;
  overflow: hidden;
  transition: all 0.2s;
}
.side_menu_active_lectures {
  height: 100vh;
  background: #e8ebae;
  position: fixed;
  width: 10rem;
  transition: all 0.2s;
}
.side_menu_lectures {
  width: 0rem;
  overflow: hidden;
  transition: all 0.2s;
}
.sidebar_title {
  transform: rotate(-90deg);
  font-family: "Raleway", sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  margin: 0px;
  transition: all 0.2s;
  color: #081832;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ul {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-around;
}
.desc_guide {
  text-align: left;
}
.li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.li:hover {
  background: #d5d98f;
}
.a {
  height: 100vh;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.open {
  cursor: pointer;
  position: relative;
  left: 0%;
  top: 0%;
}
.hidden_active {
  background: #e8ebae;
  height: 100%;
  width: 28rem;
  transition: 0.2s;
}
.hidden {
  width: 0rem;
  overflow: hidden;
  transition: 0.2s;
}
.hidden_active_lectures {
  background: #e8ebae;
  height: 100%;
  width: 10rem;
  transition: 0.2s;
}
.hidden_lectures {
  width: 0rem;
  overflow: hidden;
  transition: 0.2s;
}
.hidden_p {
  margin: 0px;
}

@keyframes reveal {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .side_menu_active {
    position: inherit;
    width: 100%;
  }
  .side_menu {
    height: 0rem;
    overflow: hidden;
  }
  .hidden_active {
    display: none;
  }
  .hidden {
    display: none;
    height: 0rem;
    overflow: hidden;
  }
  .side_menu_active_lectures {
    position: inherit;
    width: 100%;
  }
  .side_menu_active {
    height: 0rem;
    overflow: hidden;
  }
  .hidden_active_lectures {
    display: none;
  }
  .hidden_lectures {
    display: none;
    height: 0rem;
    overflow: hidden;
  }
  .ul {
    flex-direction: column;
  }
  .sidebar_title {
    transform: rotate(0deg);
  }
  .a,
  .ul,
  .side_menu_active,
  .side_menu_active_lectures {
    height: auto;
    text-align: center;
    width: 100%;
  }
  .li {
    height: 3rem;
  }
}

@media (max-width: 550px) {
  .sidebar_title {
    font-size: 20px;
  }
}
