.container {
  display: flex;
  height: 100%;
}
.page {
  background: #081832;
  width: 100%;
  padding-left: 4.33rem;
  padding-top: 45px;
  height: 100%;
}
.open {
  cursor: pointer;
}
.mobile_top_div {
  display: none;
}
@media (max-width: 1220px) {
}

@media (max-width: 1024px) {
  .page {
    padding-right: 1rem;
    padding-left: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .icon {
    width: 69px;
    height: 44px;
    cursor: pointer;
  }
  .login {
    padding-right: 2rem;
    font-family: "Raleway", sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #e8ebae;
    cursor: pointer;
  }
  .icon_login_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
  }
  .mobile_top_div {
    display: flex;
    display: grid;
    height: 8.2rem;
    background: #081832;
    flex-direction: column;
  }
  .open {
    padding-left: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 550px) {
}
