.regform {
  background: #081832;
  display: flex;
}
.image {
  width: 33rem;
  height: 23.7rem;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 0rem 0 2rem 2rem;
  width: 100%;
  justify-content: space-around;
}
.image_container {
  height: 100%;
}
.regform_container {
  margin-left: 2rem;
  width: 100%;
}
.img_form_container {
  display: flex;
  padding-bottom: 5rem;
}
.open {
  display: flex;
  align-items: center;
}
.h1 {
  margin: 0 0 0 2rem;
}
.mobile_top_div {
  display: none;
}
.icon {
  width: 100px;
  height: 67px;
  cursor: pointer;
}
.login {
  font-family: "Raleway", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  line-height: 31px;
  color: #e8ebae;
  cursor: pointer;
  border: 0.1px solid #e8ebae;
  border-radius: 23px;
  padding: 1.5px 12.5px;
  font-size: 15px;
  margin: 0px;
  margin-right: 2rem;
}
.nav {
  display: flex;
  background: #081832;
  justify-content: space-between;
  align-items: center;
}
.home_login_container {
  display: flex;
}
@media (max-width: 1400px) {
  .img_form_container {
    width: 100%;
  }
  .image_container {
    width: 50%;
    object-fit: cover;
    object-position: center;
  }
  .image {
    width: 100%;
  }
  .regform_container {
    width: 50%;
  }
  .container {
    height: auto;
  }
  .nav {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1220px) {
  .nav {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1024px) {
  .img_form_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
  }
  .regform_container {
    width: 100%;
  }
  .image_container {
    width: 100%;
  }
  .container {
    padding: 1rem 0 2rem 2rem;
  }
  .image_container {
    margin: 2rem 0;
  }
  .nav {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .icon {
    width: 64px;
    height: 42px;
  }
  .container {
    padding: 1rem 0 2rem 1rem;
  }
  .regform_container {
    width: 100%;
    margin-left: 0px;
  }
  .regform {
    flex-direction: column;
  }
  .image_container {
    display: none;
  }
  .h1 {
    font-weight: normal;
    font-size: 44px;
  }
  .login {
    margin-right: 1rem;
    padding: 0px 12.5px;
    font-size: 13px;
  }
  .nav {
    margin-bottom: 2rem;
  }
}

@media (max-width: 550px) {
  .h1 {
    font-size: 24px;
  }
  .icon {
    width: 64px;
    height: 42px;
  }
  .login {
    margin-right: 1rem;
    padding: 0px 12.5px;
    font-size: 13px;
  }
  .img_form_container {
    padding-bottom: 0px;
  }
  .nav {
    margin-bottom: 2rem;
  }
}
