.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 1rem;
}
.icon {
  height: 67px;
  cursor: pointer;
}
.login {
  font-family: "Raleway", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  line-height: 31px;
  color: #e8ebae;
  cursor: pointer;
  border: 0.1px solid #e8ebae;
  border-radius: 23px;
  padding: 1.5px 12.5px;
  font-size: 15px;
  margin-left: 1rem;
}
.profile {
  font-family: "Raleway", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  line-height: 31px;
  color: #e8ebae;
  cursor: pointer;
  border: 0.1px solid #e8ebae;
  border-radius: 23px;
  padding: 1.5px 12.5px;
  font-size: 15px;
}
.login_profile_container {
  display: flex;
  flex-direction: row-reverse;
}
.nav {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 2rem;
}
