.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #081832;
  padding: 1rem;
}
.icon {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 129px;
  cursor: pointer;
}
.login {
  padding-right: 2rem;
  position: absolute;
  right: 0%;
  top: 0%;
  font-family: "Raleway", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  color: #e8ebae;
  cursor: pointer;
}
