fieldset {
  border: 0px;
}
label {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: rgba(232, 235, 174, 0.52);
  font-family: "Raleway", sans-serif !important;
  display: block;
}
input[type="text"] {
  appearance: none;
  border: none;
  background: #081832;
  border-bottom: 1px solid rgba(232, 235, 174, 0.43);
  width: 90%;
  color: white;
  text-transform: uppercase;
}
input[type="text"]:focus {
  outline: none;
  color: white;
  font-family: "Raleway", sans-serif !important;
  background: #081832;
}
button {
  border: none;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #e8ebae;
  cursor: pointer;
}
button:focus {
  border-bottom: 2px #e8ebae;
}
@media (max-width: 1400px) {
  label {
    font-size: 20px;
  }
}
@media (max-width: 1220px) {
  label {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  label {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 550px) {
}
